// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

btn-medium {
  color: #808080;
  border: 1px solid #808080;
  border-radius: 50px;
  padding: 10px 15px;
  font-weight: lighter;
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}

btn-twitter {
  color: white;
  border-radius: 3px;
  padding: 10px 15px;
  font-weight: bolder;
  background-color: red;
  &:hover {
    background-color: darker-red
  }
}
