/*PEN STYLES*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700);
$green: #75D13B;
$grey: #e9e9e9;

@mixin transition($dur, $prop: all) {
	transition: $prop $dur ease;
	-webkit-transition: $prop $dur ease;
}

.card--horizontal {
	@include transition(0.3s, height);
  @include cf;
  height: 180px;
  max-width: 400px;
	background: $white;
	border-radius: 3px;
  box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
	margin: 0 auto 1.6%;
	overflow: hidden;
	position: relative;
	font-size: 14px;
	line-height: 1.45em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;



  	  &:hover {
	  	    .game-details {
			    left: 0;
  		    }

          .photo {
          transform: rotate(5deg) scale(1.3);
          }

          .card-date {
            display: none;
          }

          .card-hotness {
            span {
              transform: translate(-50%, -10px);
              opacity: 1;
            }
      }
    }

  		// .game-details {
			// right: -100%;
			// left: inherit;
      // padding-left: 30px;
	  	// }

      .card-hotness {
        float: left;
        z-index:10;
        padding: 0;
        margin-top: 15px;
        // position: fixed;
        // bottom: 0;
        // left: 50%;

        li {
          margin: 0 5px;
          position: relative;
          display: inline;

        }
        span {
          transition: all 0.3s;
          opacity: 0;
          // display: inline;

        }
      }

    	.photo {
		  height: 180px;
  		position: relative;

      @include transition(0.5s);
      float: left;
      height: 100%;
      width: 35%;

      .card-date {
        // z-index:1;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $accent;
        color: $white;
        padding: 0.3em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        text-shadow: 2px 3px 2px rgba($black, 0.18);

        span {
          display: inline-block;
          text-align: center;
        }
      }

  }

	    .game-details {
	    @include transition(0.3s);
  		background: rgba(0, 0, 0, 0.6);
	  	box-sizing: border-box;
		  color: #fff;
      font-family: $open-sans;
	  	list-style: none;
		  margin: 0;
  		padding: 10px 15px;
	  	height: 180px;
      width: 35%;
      right: -100%;

      display: flex;
      flex-direction: column;
      flex-flow: wrap;


	  	/*POSITION*/
		  position: absolute;
  		top: 0;
	  	left: -100%;

		      > li {
			    padding: 3px 0;
		      }

	      	li:before, .links ul:before {
    			font-family: FontAwesome;
		    	margin-right: 10px;
    			vertical-align: middle;
		      }

          .editor {
            font-family: $open-sans;
            font-size: 0.8em;
            font-weight: 600;
          }

    	  	.editor:before {
		  	  content: "\f007";
		      }

      		.end-date:before {
			    content: "\f133";
		      }

      		.links {
			        ul {
      				list-style: none;
			      	margin: 0;
    			  	padding: 0;
              font-weight: 300;
		        	}

		        	li {
              display: block;
              margin-right: 3px;

                  // &:before {
                  // content: "\f02b";
                  // }
              }
          }

      		a {
    			color: inherit;

		        	&:hover {
      				color: $second;
			        }
		      }
	    }

    	.description {
		  padding: 10px;
		  box-sizing: border-box;
		  position: relative;
      float: left;
      width: 65%;
      z-index: 0;

          &:before {
          transform: skewX(-5deg);
          content: "";
          background: #fff;
          width: 100%;
          z-index: -1;

           /*POSITION*/
           position: absolute;
           left: -5px;
           top: 0;
           bottom: 0;
          }

	    	h1 {
        font-family: $open-sans;
			  line-height: 1em;
			  margin: 0 0 8px 0;
        font-size: 1.8em;
		    }

		    h2 {
			  color: $grey / 1.5;
        font-family: $open-sans;
	  		line-height: 1.2em;
		  	text-transform: uppercase;
			  font-size: 1em;
  			font-weight: 400;
	  		margin: 1.2% 0;
		    }

	    	p {
			  position: relative;
  			margin: 0;
	  		padding-top: 20px;
        font-size: 0.9em;
        font-weight: 500;
        line-height: 1.1em;



		      	&:after {
				    content: "";
				    background: $second-down;
				    height: 6px;
				    width: 40px;

	    			/*POSITION*/
			    	position: absolute;
		    		top: 6px;
		    		left: 0;
			      }
    		}

		    a {
  			color: $second;
	  		margin-bottom: 10px;
		  	float: right;

			      &:after {
		    		@include transition(0.3s);

				    content: "\f061";
	    			font-family: FontAwesome;
			    	margin-left: -10px;
	    			opacity: 0;
			    	vertical-align: middle;
      			}

			      &:hover:after {
				    margin-left: 5px;
    				opacity: 1;
		      	}
	    	}
	  }


    // .card-hotness {
    //     @include cf;
    //     margin: 0;
    //     padding: 0;
    //     list-style-type: none;
    //     li {
    //       display: inline-block;
    //     }
    //     a {
    //       color: inherit;
    //     }
    //     span {
    //       position: absolute;
    //       left: 50%;
    //       top: 0;
    //       font-size: 1.2em;
    //       font-weight: 700;
    //       font-family: 'Open Sans';
    //       transform: translate(-50%, 0);
    //     }
    //   }





}




      // .card-header {
      //   // background: url(/assets/img/eye-for-an-eye.jpg) center / cover no-repeat;
      //   &:hover {
      //     .card-hotness {
      //       span {
      //         transform: translate(-50%, -10px);
      //         opacity: 1;
      //       }
      //     }
      //   }
