container {
  text-align: center;
}

input[type=text] {
  width: 170px;
  box-sizing: border-box;
  border: 2px solid #34495e;
  border-radius: 5px;
  font-size: 16px;
  background-color: $white;
  background-image: url("/assets/img/magnifying-glass.png");
  background-position: 20px 15px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: width 0.4s ease-in-out;
  // margin: ;
}

input[type=text]:focus {
  width: 50%;
  border: 2px solid $base;
}
