/**
 * Basic typography style for copy text
 */
// body {
//   color: $dark;
//   font: normal 115% / 1.2 $texte;
//   text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.07);
// }
//
// h2 {
//   color: $secondary;
// }

body {
  font-family: $texte;
  letter-spacing: -0.5px;
  font-weight: 400;
  line-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $titre;
}
