// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// $text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// $code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



$light-color: rgb(200, 200, 200);
$subs-color: rgb(217, 179, 16);
$base-color: rgb(50, 140, 193);
$contrast-color: rgb(11, 60, 93);
$dark-color: rgb(29, 39, 49);

// /// Gris
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;



//
//
// /// Container's maximum width
// /// @type Length
// $max-width: 1180px !default; 1920
//
//



/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;




// Names
// $white: #fff;
// $black: #000;
//
// $aquamarine: #7fffd4;
// $alabaster: #f9f9f9;
// $alto: #d9d9d9;
// $mine-shaft: #333;
//
// // Roles
// $primary: $white;
// $secondary: $alabaster;
// $accent: $aquamarine;
//
// $text: $mine-shaft;
// $border: $alto;
