// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Regular font family
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;



$white: #fff;
$black: #000;

$light: rgb(200, 200, 200);
$dark: rgb(29, 39, 49);

$base: rgb(50, 140, 193);
$base-down: rgb(45, 108, 216);
$base-up: rgb(45, 198, 216);
$accent: rgb(11, 60, 93);

$second: rgb(217, 179, 16);
$second-up: rgb(240, 219, 6);
$second-down: rgb(240, 172, 6);

$third: rgb(203, 73, 77);

$composite: rgb(224, 97, 39);

// /// Gris
$light-grey: rgb(237, 237, 237) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;


// /// Container's maximum width
// /// @type Length
// $max-width: 1180px !default; 1920

/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
) !default;


/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/' !default;
