// .main-content {
//   border-radius: 20px;
// }

.flash {
  // background-color: $base;
  // border-radius: 10px 10px 0 0;
  overflow: hidden;
  // align-items: stretch;
  display: grid;
  grid-template-rows: min-content;
  grid-auto-flow: column;
  grid-gap : 1.5em;
  // padding: 20px;
}

.projets {
  background-color: $white;
  border-radius: 10px;
}

.card-flat {
  width: 300px;
  height: 160px;
  border-radius: 10px;
  color: $white;
}

.card1 {
  background: linear-gradient(to right, #4facfe 2%,#00f2fe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
.card2 {
  background: linear-gradient(to right, #299a0b 0%,#70d611 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
.card3 {
  background: linear-gradient(to right, #ff527a 0%,#ff9575 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
.card4 {
  background-color: $regal-blue;
}
