.left-nav {
  display: none;
  }
.header {
  background-color: $black;
  // height: 80px;
  .top-nav {
    margin: 0;
    height: 50px;
    color: $white;

    h1 {
      font-size: 30px;
      text-align: center;
      font-weight: 900;
      padding: 10px 0;
    }
    }

  .onglet {
    border-top: 1px solid #ddd;
    background-color: #eee;
    text-align: center;
    // display: block;

    width: 100%;
    height: 30px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    // align-self: center;

    a {
      display: block;
      color: $black;
      opacity: .7;
      font-weight: 600;
      line-height: 30px;

      // padding : 9px 0;

      &:hover {
        background : $light;
      }
    }
  }

    .active {
      // border-bottom: 1px solid $white;
      background-color: $white;
    }
  }

@media only screen and (min-width: 768px) {
  .top-nav {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .left-nav {
    text-align: center;
    height: 100vh;
    background-color: #252d2f;

    .link-edit {
      display: none;
    }
    .links {
      display: none;
    }
    .name {
      display: none;
    }
    .statut {
      display: none;
    }
    .pseudo {
      display: none;
    }
    .xp-total, .notifications {
      border-bottom: 1px solid #444;
      padding: 5px;
      margin: 0;
      // text-align: center;

      h3 {
        font-size: 1rem;
        font-weight: 500;
        color: $base;
        text-align: center;
      }

      .number-big {
        font-size: 1.4rem;
        font-weight: 600;
        opacity: 0.7;
        color: $white;
        margin: 0;
        padding : 5px 0;
        &:hover {
          opacity: 0.9;
        }
      }
    }
    .xp-total {
      border-top: 1px solid #444;
    }
    .menu {
        border-bottom: 1px solid #444;

      .lien {
        display: none;
      }
      i {
        font-size: 1.7rem;
        line-height: 3rem;
        // padding: 15px 0;
        color: $white;
        opacity: 0.7;
        border-bottom: 1px solid #444;
        &:hover {
          opacity: 1
        }
      }
    }
  }
}


@media only screen and (min-width: 1170px) {
  .header {
    display: none;
  }
  .left-nav {
    background-color: $white;
    border-radius: 10px;
    padding: .5rem 0;

    .link-edit {
      justify-self: end;

      a {
        font-size: 0.7rem;
        font-weight: 600;
        padding: 5px 10px 0 0;
        color: $third;
      }
    }
    .links {
      list-style: none;
      padding-top: 5px;
      font-size: 1rem;
      // letter-spacing: -1.5px;

      li {
        margin: 0;
        text-align: left;
        padding: 3px 5px 3px 10px;
      }
    }
    h2 {
      font-size: 0.9rem;
      font-weight: 700;
      padding: 10px 0 5px 0;
    }
    .statut {
      color: $dark-grey;
      font-size: 0.7rem;

      span {
        font-weight: 800;
      }
    }
    .pseudo {
      color: $dark-grey;
      font-size: 0.7rem;
      span {
        font-weight: 800;
      }
    }
    .xp-total, .notifications {
      margin : 10px 0;
      border-bottom: 1px solid $light;
      border-top: 1px solid $light;

      h3 {
        font-size: 1rem;
        font-weight: 500;
        color: $base;
        text-align: center;
        padding-bottom: 5px;
      }

      .number-big {
        margin: 0;
        padding-top: 3px;
        font-size: 1.4rem;
        font-weight: 600;
        opacity: 0.7;
        color: $black;
      }
    }
    .xp-total {
      border-right: 1px solid $light;
    }
  .menu {
    border-bottom: none;
    padding: 5px 10px;
    font-size: 1.1rem;
    i {
      line-height: 1.8rem;
      color: $black;
      opacity: 0.7;
      justify-self: center;
      border-bottom: none;
    }
    .active {
      color: red;
      opacity: 0.7;
    }
  }
  .alerte {
    background-color: $base-up;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    text-align: justify;
    font-size: 0.8em;

    h4 {
      text-align: center;
      color: $third;
      font-size: 1em;
    }
    p {
      margin: 0;
      padding: 5px;
    }
  }
 }
}
