.alerte {
  background-color: $base-up;
  margin: 15px;
  border-radius: 10px;
  padding: 10px 10px 5px 10px;
  text-align: justify;
  font-size: 0.8em;

  h4 {
    text-align: center;
    color: $third;
    font-size: 1.1em;
    // padding-bottom: 5px;
  }
}
